
<!-- This will open rosserial for Pan Tilt Servo control -->
<launch>

	<node name="servo_node" pkg="rosserial_python" type="serial_node.py" output="screen">
	      <param name="port" value="/dev/ttyACM0" />
	      <param name="baud" value="115200" />
	</node>


<!-- This will launch the Dynamixel pan controller -->

  <!-- <include file="$(find fido_pkg)/launch/start_pan_controller.launch"/> -->


</launch>

